@import "../vars";

.auth {
  font-family: $secondFont;
}

.link {
  text-decoration: none;
  color: $secondColor;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.line {
  margin: 0 5px;
}

.profile {
  font-family: $secondFont;
}

.btn {
  margin-right: 20px;

  &Link {
    color: $mainColor;
    text-decoration: none;
  }
}
